.container {
  display: flex;
  flex-direction: row;
  margin: 4px;
  border: 1px solid #ffffff;
  padding: 2px;
  cursor: move;
}

.status {
  display: flex;
  flex-direction: column;
  margin: 1px;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 1px;
  flex-grow: 3;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
}

.isDragging {
  display: none;
}
